/*
Styles for older IE versions (previous to IE9).
*/
header,hgroup,nav,menu,section,article,aside,footer,figure,figcaption{display:block}
.shipping_calculator p{
    padding-left: 13px;
}
div.pika-stage a img,
ul.products a img{
    border: 0;
}